@using System.Web.Mvc.Html
@model IEnumerable<Jeudfra_Beta.Models.Client>


@{
    ViewBag.Title = "Client Page";
}
<header id="main-header" class="py2 bg-warning text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fa fa-users"></i> Clients</h1>
            </div>
        </div>
    </div>
</header>
<br />

<!-- Clients -->
<section id="Clients">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Customer Details</h4>
                    </div>
                    <table id="customers" class="table">
                        <thead>
                            <tr>
                                @*<th>#</th>*@
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Gender</th>
                                @*<th>Birthdate</th>*@
                                <th>Id Number</th>
                                <th>City</th>
                                @*<th>Spouse</th>*@
                                @*<th></th>*@
                                <th>Details</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section  scripts{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({

                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "surname"
                    },
                    {
                        data: "gender"
                    },
                    //{
                    //    data: "birthDate"
                    //},
                    {
                        data: "nationalIdNumber"
                    },
                    {
                        data: "address.city"
                    },
                    //{
                    //    data: "spouse.name"
                        

                    //},
                   
                    {
                        data: "id",
                        render: function (data, type, customer) {
                            return "<a href='/client/details/" + customer.id + "'class='btn btn-success'>Details </a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-danger js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }

                ]
            });
            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}



