@model Jeudfra_Beta.Models.Policy
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@Model.Name</h2>*@
<p>@Model.Id</p>
<p>@Model.Name</p>
<p>@Model.Amount</p>



